<div class="spf-top-nav-mobile close">
    <div class="spf-top-nav-mobile--title">
        {{> atoms-text-link(textLinkText:"Menu", textLinkTitle:"Menu", extraAttributes:'aria-controls="spf-top-menu-items"')}}
    </div>
    <div class="spf-top-nav-mobile--items" id="spf-top-menu-items">
        {{> molecules-link-list-hr(linkListLiClass:"spf-top-nav-mobile--item")}}
    </div>
</div>