<div class="input-group search-box">
    <span class="group-element-wrapper">
        <input class="uikit-text-input group-element" name="search-box" id="search-box" type="text" value="" />
    </span>
    <button class="uikit-btn group-element">
        <i class="material-icons">search</i>
    </button>
</div>