<h1>Test: keyword-list</h1>

	<h2>keyword-list</h2>

	<p>Lorem ipsum dolor sit amet:</p>

	<ul class="uikit-keyword-list uikit-link-list">
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of </small>Agriculture and Water Resources
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Communications and the Arts
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Communications
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Foobar
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Lorem
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi qui praesentium fuga
		</li>
		<li class="uikit-keyword-list__item">
			<small class="uikit-keyword-list__item__small">Department of</small>Barfoo
		</li>
	</ul>

	<p>End of list.</p>

	<hr>
	<h2>keyword-list with links</h2>

	<p>Lorem ipsum dolor sit amet:</p>

	<ul class="uikit-keyword-list uikit-link-list">
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of </small>Agriculture and Water Resources
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Communications and the Arts
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Communications
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Foobar
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Lorem
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi qui praesentium fuga
			</a>
		</li>
		<li class="uikit-keyword-list__item">
			<a href="http://uikit.apps.staging.digital.gov.au/packages/keyword-list/tests/site/#">
				<small class="uikit-keyword-list__item__small">Department of</small>Barfoo
			</a>
		</li>
	</ul>

	<p>End of list.</p>