.input-group {
  display: table;
  border-collapse: separate;
  font-size: 16px;
  table-layout: auto;
  line-height: 1;

   > .group-element,
  > .group-element-wrapper > .group-element {
    // float: left;
    margin: 0;
    border-radius: 0;
    border: $uikit-borderize;
    border-left: none;
    padding: .7em;
    display: table-cell;
    font-size: 1em;
    vertical-align: bottom;
  }

  .group-element:last-child {
    border-top-right-radius: $uikit-border-radius;
    border-bottom-right-radius: $uikit-border-radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .group-element:first-child {
    border-top-left-radius: $uikit-border-radius;
    border-bottom-left-radius: $uikit-border-radius;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: $uikit-borderize;
  }

  > .group-element-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    vertical-align: bottom;

    input[type="text"] {
      width: 100%;
      margin: 0;
    }
  }
}
