<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>ACT Gov UI Kit 1.0</h1>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <p>ACT Government single public face (SPF) UI Kit 1.0 is an iterative style guide that contains self-contained
                    interface designs and related code. The purpose of the SPF UI Kit 1.0 is to create a consistent style
                    and core functionality across the collective ACT Government online presence. The UI kit itself is structured
                    using atomic design approach and is built in the open source Pattern Lab platform.</p>

                <h2><a href="http://bradfrost.com/blog/post/atomic-web-design/" rel="external" target="_blank">Atomic design</a></h2>
                <img style="width: 100%" src="{{img.intro-diagram-small.src}}" alt="{{img.intro-diagram-small.alt}}" />
                <p>Atomic design is a design methodology composed of five distinct stages working together to create interface
                    design systems in a more deliberate and hierarchical manner. The five stages of atomic design are: Atoms,
                    Molecules, Organisms, Templates and Pages </p>

                <h2><a href="http://patternlab.io/" rel="external" target="_blank">Pattern Lab</a></h2>
                <p>Pattern Lab is a tool and language agnostic platform used documents interface components and digital style.
                    It facilitates the atomic design approach documenting interface components, patterns and annotations.</p>

                <p>SPF UI 1.0 is the starting point for re invigorating the ACT Governments online presence. The UI kit provides
                    core components that can be used to redesign existing sites. These components are deconstructed into
                    smaller part allowing them to be used to build other more advanced components when needed. Using these
                    building smaller blocks to create new components will ensure that the ACT Government online style is
                    maintained across different interface elements and sites.</p>

                <p>SPF UI Kit also integrates the existing <a href="https://github.com/govau/uikit" rel="external" target="_blank">GOVAU UI Kit 2.0</a>.
                    The two kits have been integrated so that further developments from the DTA and other government agencies
                    can be leveraged as part of ACT Governments SPF Kit. This has been achieved by maintaining theme and
                    class naming conventions established in GOVAU UI kit. Updated and new components from GOVAU can be brought
                    into Pattern Lab with minor modifications.</p>
                <p>Image bellow shows how atomic approach is being applied using Pattern Lab in SPF UIKit
                    <br>
                    <a href="{{img.intro-diagram.src}}" target="_blank" rel="external" style="display:inline-block">
                        <img style="width: 200px" src="{{img.intro-diagram.src}}" alt="{{img.intro-diagram.alt}}" />
                    </a>
                </p>

                <h2>What is a pattern?</h2>
                <p> A pattern is a small, self-contained and reusable UI components. These patterns need to be reusable both from a design and implementation perspective. For this reason, patterns should remain agnostic both in content and code. This is the reason that place holder images and content have been used. The intention is that content will be added when implementing the patterns whilst building a website. If the new component is required for a website, it should be built using the existing ACT Gov SPF patterns. If the new component is valuable and reusable across other ACT Gov sites then it should be added to Pattern Lab so others can utilise it on future projects.
                </p>

                <h2>SPF UI Kit 1.0 technology stack</h2>

                <h3>SASS</h3>
                <p>Syntactically Awesome StyleSheets, is an extension language for CSS. With Sass, you can write clean, sustainable
                    CSS code and solve the common repetition and maintenance challenges present in traditional CSS.</p>

                <h3>Grunt</h3>
                <p>Grunt is a task-based command line build tool for JavaScript projects. It is used to compile, built and dynamically
                    update the Pattern Lab instance</p>

                <h3>Bootstrap</h3>
                <p>Bootstrap underlying grid system is used in both GOVAU and SPF UI Kit.</p>

                <h3>Font Awesome/Fort Awesome</h3>
                <p>Used throughout other ACT Government print and brand resources. Font and fort awesome is a scalable vector
                    icon library and have been used for all UI kit iconography needs.</p>

                <h3>NPM</h3>
                <p>npm is the package manager for JavaScript and the world’s largest software registry. Use npm to install, share, and distribute code; manage dependencies in your projects.</p>
                
                <h3>Pancake ( ˘▽˘)っ旦</h3>
                <p>Pancake is a tool to make working with npm on the front end easy and sweet. Pancake manages individually versioned independent modules avoiding interdependancies and helping maintain a flat structer. For more info <a href="https://github.com/govau/pancake#whats-inside" rel="external" target="_blank">check out the github source.</a></p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</main>