<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>SPF Styles</h1>
                </p>
                <p>Class names used in ACT Gov SPF UI kit not specified in Pattern Lab
                    <p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <p><strong>Note: </strong>In HTML to make SPF UIKit wors, all SPF elements must be wrapped in an element with
                    the follwoing classnames:</p>
                <ul>
                    <li>"uikit-body" for Govau UIKit components, and also because SPF UIKit is built based on Govau UIKit</li>
                    <li>"spf-body"</li>
                </ul>
                <p>Following table is a glossary of all SPF UIKit classnames that are not covered in patterns.</p>
                <table class="spf-table table-wrapped table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Class name</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>spf-body</td>
                            <td>Main SPF UIKit classname. All SPF elements must be wrapped by an element with this classname</td>

                        </tr>
                        <tr>
                            <td>spf-page-content</td>
                            <td>Using for content element in page, works well in combination with sidebar class names. Example:
                                content part in <a href="{{link.templates-template-03}}" title="Template 03">Template 03</a></td>
                        </tr>
                        <tr>
                            <td>spf-page-content--right</td>
                            <td>An extention of spf-page-content when the page has a sidebar on right and content is on the right
                                side of the page. Example: <a href="{{link.templates-template-03}}" title="Template 03">Template 03</a>
                            </td>
                        </tr>
                        <tr>
                            <td>spf-page-content--left</td>
                            <td>An extention of spf-page-content when the page has a sidebar on right and content is on the left
                                side of the page. Example: <a href="{{link.templates-temlpate-04}}" title="Template 04">Template 04</a>
                            </td>
                        </tr>
                        <tr>
                            <td>spf-page-sidebar--left</td>
                            <td>Used for a sidebar next to content element, when sidebar is on the left. Example: <a href="{{link.templates-template-03}}" title="Template 03">Template 03</a>
                            </td>
                        </tr>
                        <tr>
                            <td>spf-page-sidebar--right</td>
                            <td>Used for a sidebar next to content element, when sidebar is on the right. Example: <a href="{{link.templates-temlpate-04}}" title="Template 04">Template 04</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>