<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>How-Tos</h1>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <h2>Download code</h2>
                <p>
                    There are two ways to download the source code:
                    <ul>
                        <li>
                            Cloning using GIT: Clone from the
                            <a href="{{overview-content.built-version-url}}" title="SPF UIKit repository" rel="external" target="_blank">repository</a>
                        </li>
                        <li>
                            Download zip file repositoty: Clone from the
                            <a href="{{overview-content.repository-downloads}}" title="SPF UIKit repository" rel="external" target="_blank">repository downloads</a>
                        </li>
                    </ul>
                </p>
                <h2>Install</h2>
                <p>
                    Installing required packages to run SPF UIkit can be done using NPM. Simply:
                    <ul>
                        <li>After downloaing/extracting the source code, open terminal and navigate to the root directory.</li>
                        <li>run <code>npm install</code></li>
                    </ul>

                </p>
                <h2>Start/Build</h2>
                <p>
                    Both GRUNT and NPM can be used to run and build SPF UIKit.
                    <ul>
                        <li>Navigate the root directory.</li>
                        <li>GRUNT
                            <ul>
                                <li>To start UIKit and watch the changes run: <code>grunt patternlab:serve</code></li>
                                <li>To build run: <code>grunt patternlab:build</code></li>
                            </ul>
                        </li>
                        <li>NPM
                            <ul>
                                <li>To start UIKit and watch the changes run: <code>npm run patternlab:serve</code></li>
                                <li>To build run: <code>npm run patternlab:build</code></li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h2>Themes</h2>
                <p>
                    In SPF UIKit, multiple themes can be defined and used. Themes might be different in color schemes, or default padding and
                    margins. This can be done by defining different values for SASS global variables that are uses in SPF
                    UIKit.
                </p>
                <p>
                    When running or building only one theme can be selected. Theme name can be passed as a parameter in command. As example "actgov"
                    theme can be selected as following:
                    <ul>
                        <li>Navigate the root directory.</li>
                        <li>GRUNT
                            <ul>
                                <li>To start UIKit and watch the changes run: <code>grunt patternlab:serve --theme=actgov</code></li>
                                <li>To build run: <code>grunt patternlab:build --theme=actgov</code></li>
                            </ul>
                        </li>
                        <li>NPM
                            <ul>
                                <li>To start UIKit and watch the changes run: <code>npm run patternlab:serve -- --theme=actgov</code></li>
                                <li>To build run: <code>npm run patternlab:build -- --theme=actgov</code></li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h3>Adding a theme</h3>
                <p>Theme files are located in theme folder (<a href="{{link.overview-code-structure}}" title="Link to file structure">More information on file structure</a>)
                    Follow these steps to make a new theme:
                    <ol>
                        <li>Make a folder named as your new theme.</li>
                        <li>Copy the following files from actgov folder to your new theme's folder:
                            <ul>
                                <li>_colors.scss</li>
                                <li>_cariables.scss</li>
                            </ul>
                        </li>
                        <li>Make required changes to the new theme files.</li>
                        <li>To start/build with new theme use parameter "theme=themename" when runnung the command.</li>
                    </ol>
                </p>
                <h2>Use SPF UIKit in projects</h2>
                <p>
                    After build command runs, all needs to be done is to copy the files in dist folder and import them to the project. Dist folder contains the followings.
                    <ul>
                        <li>SPF style files
                            <ul>
                                <li><strong>style.css : </strong>SPF style file. Includes Govau UIKit styles so there is no need to import it separately.</li>
                                <li><strong>style.min.css and style.css.map :</strong>Minified version of style.css and related source map file</li>
                            </ul>
                        </li>
                        <li>SPF JS files
                            <ul>
                                <li><strong>spf.js : </strong>SPF JS file. required to be used if SPF JS components are being used in project</li>
                                <li><strong>spf.min.js and spf.min.js.map :</strong>Minified version of spf.css and related source map file</li>
                            </ul>
                        </li>
                        <li>Govau JS files
                            <ul>
                                <li><strong>uikit.js : </strong>Govau UIKit's JS file. required to be used if Govau JS components are being used in project</li>
                                <li><strong>uikit.min.js and uikit.min.js.map :</strong>Minified version of uikit.css and related source map file</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>