<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>Code structure</h1>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <p>SPF UIKit is following Pattern Lab's folder structure as standard. More information can be found on <a href="http://patternlab.io/docs/index.html"
                        rel="external" target="_blank" title="Pattern Lab documentation">Pattern Lab documentation.</a>
                </p>
                <h2>Folder structure</h2>
                UIKit files are located under "source" folder. Source folder contains the following sub-folders:
                <ul>
                    <li>_annotations</li>
                    <li>_meta</li>
                    <li>_data</li>
                    <li>_patterns</li>
                    <li>css</li>
                    <li>fonts</li>
                    <li>images</li>
                    <li>js</li>
                </ul>
                <h3>_patterns folder</h3>
                <p>
                    Includes SPF UIKit's patterns including atoms, molecules, organisms, and templates. This folder contains additionals like
                    this overview, GovAU UIKit (GovAU UIKit test pages), global (basic elements and class names that can
                    not be defined as patterns).
                </p>
                <p>
                    Each pattern is separated by sub-folders that contains Mustache and md files. JS elements have their JS files next to them.
                    These JS codes will be concatinated in spf.js file in solution biuld process.
                </p>
                <h3>css folder</h3>
                <p>
                    Contains SASS files that will be converted to css file after each build.
                    <ul>
                        <li>
                            scss folder contains UIKit's modular style structure.
                            <ul>
                                <li><strong>abstracts folder:</strong> SASS variables and mixins coming from Govau UIKit</li>
                                <li><strong>components folder:</strong> SPF components styles. Each component style file has a separate folder
                                    which contains a _module.scss file. Under css folder </li>
                                <li><strong>themes folder:</strong> SASS global variables for each theme are located in separate folders here. These variable are applied at building time.</li>
                                <li><strong>vendors folder:</strong> contains _uikit.scss file which contains Govau UIKit's styles.</li>
                                <li><strong>style.scss</strong> is SPF's main SASS file that imports all the requried styles. After build, style.css and style.min.css files are generated from this file. These css files can be used in projects.</li>
                                <li><strong>templates.scss</strong> is only being used for Pattern Lab presentation. This file does not need to be importet in projects.</li>
                                <li><strong>uikit.scss</strong> is Govau UIKit's style file. This file is bening used in Pattern Lab to run Govau UIKit test pages. There is no need to import this file in projects.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h3>js folder</h3>
                <p>
                    All the JS files are located in this folder. There are files that are required for Pattern Lab or build process to work. Important ones are as following:
                    <ul>
                        <li><strong>actgov.js:</strong> The JS file reuired for Pattern Lab pages to work. This is not SPF UIKit's js library and are not required in projets that use this UIKit. actgob.js is auto generated from each individual pattern in "_patterns" folder and any change to this will be wiped after each build.</li>
                        <li><strong>spf.js:</strong> SPF UIKit's js library. This should be imported in projects and required for JS components to work.</li>
                        <li><strong>uikit.js: </strong>and uikit.min.js are Govau UIKit's js library. Requred for their JS components for work</li>
                    </ul>
                </p>
                <p>SPF and Govau's js libraries work indipendently. It is suggested that both of the files be imported to the projects.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>