<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>Code structure</h1>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <p>SPF UIKit is following Pattern Lab's folder structure as standard. More information can be found on <a href="http://patternlab.io/docs/index.html"
                        rel="external" target="_blank" title="Pattern Lab documentation">Pattern Lab documentation.</a>
                </p>
                <h2>Folder structure</h2>
                UIKit files are located under "source" folder. Source folder contains the following sub-folders:
                <ul>
                    <li>_annotations</li>
                    <li>_meta</li>
                    <li>_data</li>
                    <li>_patterns</li>
                    <li>css</li>
                    <li>fonts</li>
                    <li>images</li>
                    <li>js</li>
                </ul>
                <h3>_patterns folder</h3>
                <p>
                    Includes SPF UIKit's patterns including atoms, molecules, organisms, and templates. This folder contains additionals like
                    this overview, GovAU UIKit (GovAU UIKit test pages), global (basic elements and class names that can
                    not be defined as patterns).
                </p>
                <p>
                    Each pattern is separated by sub-folders that contains Mustache and md files. JS elements have their JS files next to them.
                    These JS codes will be concatinated in spf.js file in solution build process.
                </p>
                <h3>css folder</h3>
                <p>
                    Contains SASS files that will be converted to css file after each build.
                    <ul>
                        <li>
                            scss folder contains UIKit's modular style structure.
                            <ul>
                                <li><strong>abstracts folder:</strong> SASS variables and mixins coming from Govau UIKit</li>
                                <li><strong>components folder:</strong> SPF components styles. Each component style file has
                                    a separate folder which contains a _module.scss file. Under css folder </li>
                                <li><strong>themes folder:</strong> SASS global variables for each theme are located in separate
                                    folders here. These variable are applied at building time.</li>
                                <li><strong>vendors folder:</strong> contains _uikit.scss file which contains Govau UIKit's styles.</li>
                                <li><strong>style.scss</strong> is SPF's main SASS file that imports all the required styles.
                                    After build, style.css and style.min.css files are generated from this file. These css
                                    files can be used in projects.</li>
                                <li><strong>templates.scss</strong> is only being used for Pattern Lab presentation. This file
                                    does not need to be imported in projects.</li>
                                <li><strong>uikit.scss</strong> is Govau UIKit's style file. This file is being used in Pattern
                                    Lab to run Govau UIKit test pages. There is no need to import this file in projects.</li>
                            </ul>
                        </li>
                    </ul>
                </p>
                <h3>Modular style approach</h3>
                <p>
                    In SPF, styles are designed in a modular approach using <a href="http://sass-lang.com" title="SASS homepage"
                        rel-="external" target="_blank">SASS</a>. In this modular approach the whole final style is broken down
                    to individual pieces. Then all of these small pieces of SASS codes are imported in a top-down order.
                    The last file is style.scss SASS file which will be converted to style.css CSS file in build process.
                    Following is example of list of the modules used to make final style.css file.
                </p>
                <ul>
                    <li><strong>Govau UIKit SASS modules: </strong> Imported using <a href="https://github.com/govau/pancake#whats-inside"
                            rel="external" target="_blank">Pancake</a>. _uikit.scss file in source/css/scss/vendors folder is
                        auto-generated by Pancake and imports all these modules.</li>
                    <li><strong>SPF UIKit's components modules: </strong>Each component has it's own _module.scss file. Components
                        can be found in /source/css/scss/components folder. A file called _components.scss imports all of
                        these modules into one file.</li>
                    <li><strong>Theme scss files: </strong> Can be found in /source/css/scss/themes. Each theme has a separate
                        folder that contains _colors.scss and _variables.scss files. These files override Govau's default
                        global variables in build process.</li>
                </ul>
                <p>
                    Following diagram shows the concept of modular apprach in SPF UIKit.<br>
                    <a style="display: inline-block" href="{{img.sass_modular-approach.src}}" target="_blank" title="{{img.sass_modular-approach.alt}}">
                    <img style="height: 200px;" src="{{img.sass_modular-approach.src}}" alt="{{img.sass_modular-approach.alt}}" />
                    </a>
                </p>
                <h3>js folder</h3>
                <p>
                    All the JS files are located in this folder. There are files that are required for Pattern Lab or build process to work.
                    Important ones are as following:
                    <ul>
                        <li><strong>actgov.js:</strong> The JS file required for Pattern Lab pages to work. This is not SPF UIKit's
                            JS library and are not required in projects that use this UIKit. actgov.js is auto generated
                            from each individual pattern in "_patterns" folder and any change to this will be wiped after
                            each build.</li>
                        <li><strong>spf.js:</strong> SPF UIKit's JS library. This should be imported in projects and required
                            for JS components to work.</li>
                        <li><strong>uikit.js: </strong>and uikit.min.js are Govau UIKit's JS library. Required for their JS components
                            for work</li>
                    </ul>
                </p>
                <p>SPF and Govau's JS libraries work independently. It is suggested that both of the files be imported to the
                    projects.
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>