<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>SPF JS components</h1>
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <p><strong>Note: </strong>In HTML, all SPF components must be children of an element with "spf-body spf-uikit"
                    classnames. For example these classnames can be assigned to page's body tag</p>
                <h2><a href="{{link.molecules-accordion}}" title="Accordion element">Accordion</a></h2>
                Accordion is taken from Govau UI Kit and uses its JS library to function.
                <ul>
                    <li>HTML and CSS structure can be found in <a href="{{link.molecules-accordion}}" title="Accordion element">Patten Lab</a>
                    </li>
                    <li>JS code and examples can be found in actgov.js file in JS folder. <a href="{{link.overview-code-structure}}"
                            title="Link to file structure">More information on file structure</a></li>
                </ul>
                <p>Refer to Govau UI Kit's website to learn how to use it.</p>
                <h2><a href="{{link.gov-uikit-animate}}" title="Animate">Animate</a></h2>
                Animate is also taken from Govau UI Kit and uses its JS library to function.
                <ul>
                    <li>HTML and CSS structure can be found in <a href="{{link.gov-uikit-animate}}" title="Animate">Patten Lab</a>
                    </li>
                    <li>JS code and examples can be found in actgov.js file in JS folder. <a href="{{link.overview-code-structure}}"
                            title="Link to file structure">More information on file structure</a></li>
                </ul>
                <p>Refer to Govau UI Kit's website to learn how to use it.</p>
                <h2><a href="{{link.organisms-side-nav}}" title="Side navigation">Side nav</a></h2>
                Side navigation uses SPF's JS library to work.
                <ul>
                    <li>HTML and CSS structure can be found in <a href="{{link.organisms-side-nav}}" title="Side nav">Patten Lab</a>
                    </li>
                    <li>SPF JS namespace is "SPF"</li>
                    <li>Functions:
                        <ul>
                            <li><strong>SPF.isSideNav(element) : </strong>Use this function to register an element as side navigation.
                                HTML structure should follow the above item. The main side nav element which has "spf-side-nav"
                                classname should be passed to this function</li>
                            <li><strong>Example: </strong><code>SPF.isSideNav(document.querySelector('.spf-side-nav'))</code></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="{{link.organisms-tabs}}" title="Tabs">Tabs</a></h2>
                Tabs component uses SPF's JS library to work.
                <ul>
                    <li>HTML and CSS structure can be found in <a href="{{link.organisms-tabs}}" title="Tabs">Patten Lab</a>
                    </li>
                    <li>SPF JS namespace is "SPF"</li>
                    <li>Functions:
                        <ul>
                            <li><strong>SPF.SPF.isTabElement(element) : </strong>Use this function to register a tabs element.
                                HTML structure should follow the above item. The main tabs element which has "spf-tabs" classname
                                should be passed to this function</li>
                            <li>For the items in navigation that have sub-items, their state must be specified using "close" or "open" classnames.</li>
                            <li><strong>Example: </strong><code>SPF.isTabElement(document.querySelector('.spf-tabs'))</code></li>
                        </ul>
                    </li>
                </ul>
                <h2><a href="{{link.organisms-top-nav-mobile}}" title="Top nav (mobile version)">Top nav (mobile version)</a></h2>
                Top nav for mobiles component uses SPF's JS library to work.
                <ul>
                    <li>HTML and CSS structure can be found in <a href="{{link.organisms-top-nav-mobile}}" title="Top nav (mobile version)">Patten Lab</a>
                    </li>
                    <li>SPF JS namespace is "SPF"</li>
                    <li>Functions:
                        <ul>
                            <li><strong>SPF.SPF.isTopNav(element) : </strong>Use this function to register a top navigation mobile
                                element. HTML structure should follow the above item. The main top nav mobiel element which
                                has "spf-top-nav-mobile" classname should be passed to this function</li>
                            <li><strong>Example: </strong><code>SPF.isTopNav(document.querySelector('.spf-top-nav-mobile'))</code></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</main>