<main class="uikit-grid">

    <div class="spf-text-banner spf-text-banner--hero">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <p>
                    <h1>Resources</h1>
                </p>
                <p>A list of resources to assist in understanding, using and maintaining ACT Gov UI Kit</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-lg-2">
                {{> overview-menu}}
            </div>
            <div class="col-lg-10 spf-page-content spf-page-content--right">
                <h2>Atomic design & Pattern Lab</h2>
                <ul>
                    <li><a href="http://bradfrost.com/blog/post/atomic-web-design/" rel="external" target="_blank">Atomic design</a></li>
                    <li><a href="http://patternlab.io/" rel="external" target="_blank">Pattern Lab</a></li>
                    <li><a href="https://github.com/govau/uikit" rel="external" target="_blank">Gov au UI kit</a></li>
                    <li><a href="https://www.youtube.com/watch?v=84LZyZsTiaA" rel="external" target="_blank">Brad Frost - talk on atomic design</a></li>
                    <li><a href="https://www.smashingmagazine.com/2016/07/building-maintaining-atomic-design-systems-pattern-lab/"
                            rel="external" target="_blank">Smashing Magazine - building and maintaining atomic design systems with Pattern Lab</a></li>
                    <li><a href="https://github.com/ikkou/awesome-css#architecture" rel="external" target="_blank">CSS conding methodologies</a></li>
                    <li><a href="http://getbem.com/introduction/" rel="external" target="_blank">BEM CSS methodology</a></li>   
                </ul>

                <h2>Development guidance</h2>

                <ul>
                    <li><a href="https://www.accessibilityoz.com/2014/02/links-and-accessibility/" rel="external" target="_blank">Accessibility Oz - best practice for accessible links</a></li>
                    <li><a href="https://developers.google.com/web/fundamentals/native-hardware/click-to-call/" rel="external"
                            target="_blank">Click to call links</a></li>
                    <li><a href="https://developers.google.com/maps/documentation/urls/guide" rel="external" target="_blank">Map URL links</a></li>
                    <li><a href="https://css-tricks.com/snippets/html/mailto-links/" rel="external" target="_blank">Mailto links</a></li>
                </ul>

            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

</main>