<div class="spf-side-nav">
    <ul>
        <li class="spf-side-nav--first">
            <a href="{{link.overview-overview}}" title="Overview" class="">Introduction</a>
        </li>
        <li class="spf-side-nav--first close" aria-controls="spf-ui-kit-section">
            <a href="#" title="Developing with SPF UI Kit" class="">Developing <br/>with SPF UI Kit</a>
            <ul class="spf-side-nav--second" id="spf-ui-kit-section">
            <li class="spf-side-nav--first">
                <a href="{{link.overview-glossary}}" title="SPF styles" class="">SPF styles</a>
            </li>
            <li class="spf-side-nav--first">
                <a href="{{link.overview-spf-js}}" title="SPF JS" class="">SPF JS</a>
            </li>   
            </ul>
        
        <li class="spf-side-nav--first close" aria-controls="spf-ui-kit-section">
            <a href="#" title="Maintaining Pattern Lab" class="">Maintaining Pattern Lab</a>
            <ul class="spf-side-nav--second" id="spf-ui-kit-section">
                <li>
                    <a href="{{link.overview-spf-uikit}}" title="SPF UIKit overview">Overview</a>
                </li>
                <li>
                    <a href="{{link.overview-how-tos}}" title="How-tos">How-tos</a>
                </li>
                <li>
                    <a href="{{link.overview-code-structure}}" title="Code structure">Code structure</a>
                </li>
            </ul>
        <li class="spf-side-nav--first">
            <a href="{{link.overview-resources}}" title="Resources">Resources</a>
        </li>
        </li>
    </ul>
</div>