<div class="spf-side-nav">
    <ul>
        <li class="spf-side-nav--first">
            <a href="{{link.overview-overview}}" title="Overview" class="">Overview</a>
        </li>
        <li class="spf-side-nav--first">
            <a href="{{link.overview-glossary}}" title="SPF styles" class="">SPF styles</a>
        </li>
        <li class="spf-side-nav--first">
            <a href="{{link.overview-spf-js}}" title="SPF JS" class="">SPF JS</a>
        </li>
        <li class="spf-side-nav--first close" aria-controls="spf-ui-kit-section">
            <a href="#" title="SPF UIKit - Technical" class="">SPF UIKit - Technical</a>
            <ul class="spf-side-nav--second" id="spf-ui-kit-section">
                <li>
                    <a href="{{link.overview-spf-uikit}}" title="SPF UIKit overview">Overview</a>
                </li>
                <li>
                    <a href="{{link.overview-how-tos}}" title="How-tos">How-tos</a>
                </li>
                <li>
                    <a href="{{link.overview-code-structure}}" title="Code structure">Code structure</a>
                </li>
            </ul>
        </li>
    </ul>
</div>