<div class="spf-text-banner spf-text-banner--image">
    <div class="spf-text-banner--image-content">
        <div class="spf-text-banner--image-content-text">
            {{{bannerContent}}}
        </div>
    </div>
</div>