<div class="spf-input-group">
	<label for="input-group-two" class="spf-group-element">Label</label>
	<input id="input-group-two" class="uikit-text-input spf-group-element" name="search-box" id="search-box" type="text" value="">
	<button class="spf-group-element">Submit</button>
</div>