<div class="spf-input-group">
    <span class="spf-group-element-wrapper">
        <input class="uikit-text-input spf-group-element" name="group-element" id="group-element" type="text" value="" />
    </span>
    <button class="spf-group-element">
        Button
    </button>
</div>