<label for="input-group-one">Text input with button after</label></h3>
<div class="spf-input-group">
    <input id="input-group-one" class="uikit-text-input spf-group-element" name="search-box" id="search-box" type="text" value="">
    <button class="spf-group-element">
        Button
    </button>
</div>