<div class="input-group search-box">
    <span class="group-element-wrapper">
        <input class="uikit-text-input group-element" name="search-box" id="search-box" type="text" value="" placeholder="Search" />
    </span>
    <button class="uikit-btn group-element">
        {{> atoms-fontawesome(fontawesomeFont: "fa-search")}}
    </button>
</div>