<div class="spf-input-group spf-search-box">
    <span class="spf-group-element-wrapper">
        <input class="uikit-text-input spf-group-element" name="search-box" id="search-box" type="text" value="" placeholder="Search" />
    </span>
    <button class="uikit-btn spf-group-element">
        {{> atoms-fontawesome(fontawesomeFont: "fa-search")}}
    </button>
</div>