<footer class="uikit-grid uikit-footer uikit-footer--light">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                {{> molecules-link-list-hr}}
            </div>
            <div class="col-md-6 align-right">
                {{> molecules-social-media-icon-bar}}
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</footer>