<footer class="uikit-grid">
    <div class="row uikit-footer uikit-footer--light">
        <div class="col-md-12">
            <div class="col-md-6">
                {{> molecules-link-list-hr}}
            </div>
            <div class="col-md-6 align-right">
                {{> molecules-social-media-icon-bar}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{> organisms-footer-global}}
        </div>
    </div>
</footer>