<footer class="uikit-grid uikit-footer uikit-footer--light">
    <ul class="uikit-link-list uikit-link-list--inline">
        <li>
            <a href="#" title="link" class="menu__link">Footer link</a>
        </li>
        <li>
            <a href="#" title="link" class="menu__link">Footer link</a>
        </li>
    </ul>
</footer>