<footer class="uikit-grid uikit-footer spf-footer-global">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-6">
                {{> molecules-link-list-hr-inverted}}
            </div>
            <div class="col-md-6 text-right uikit-footer-logo">
                {{> molecules-logo-list}}
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</footer>