<h1>Test: tags</h1>

	<h2>Tags list using definition list (<code>dl</code>)</h2>

	<dl class="uikit-tags">
		<dt>Tags:</dt>
		<dd class="uikit-tags__item"><a href="#">foo</a></dd>
		<dd class="uikit-tags__item"><a href="#">bar</a></dd>
		<dd class="uikit-tags__item"><a href="#">baz</a></dd>
		<dd class="uikit-tags__item"><a href="#">bloop</a></dd>
		<dd class="uikit-tags__item"><a href="#">blip</a></dd>
		<dd class="uikit-tags__item"><a href="#">wallop</a></dd>
		<dd class="uikit-tags__item"><a href="#">doodle</a></dd>
		<dd class="uikit-tags__item"><a href="#">pear ice cream</a></dd>
	</dl>

	<dl class="uikit-tags">
		<dt>Tags without link:</dt>
		<dd class="uikit-tags__item">foo</dd>
		<dd class="uikit-tags__item">bar</dd>
		<dd class="uikit-tags__item">baz</dd>
		<dd class="uikit-tags__item">bloop</dd>
		<dd class="uikit-tags__item">blip</dd>
		<dd class="uikit-tags__item">wallop</dd>
		<dd class="uikit-tags__item">doodle</dd>
		<dd class="uikit-tags__item">pear ice cream</dd>
	</dl>

	<h2>Tags list using <code>ul</code> and a heading</h2>

	<span>Tags:</span>
	<ul class="uikit-tags">
		<li class="uikit-tags__item">
			<a href="#">foo</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">bar</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">baz</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">bloop</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">blip</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">wallop</a>
		</li>
		<li class="uikit-tags__item">
			<a href="#">doodle</a>
		</li><li class="uikit-tags__item">
			<a href="#">pear ice cream</a>
		</li>
	</ul>

	<span>Tags without links:</span>
	<ul class="uikit-tags">
		<li class="uikit-tags__item">
			foo
		</li>
		<li class="uikit-tags__item">
			bar
		</li>
		<li class="uikit-tags__item">
			baz
		</li>
		<li class="uikit-tags__item">
			bloop
		</li>
		<li class="uikit-tags__item">
			blip
		</li>
		<li class="uikit-tags__item">
			wallop
		</li>
		<li class="uikit-tags__item">
			doodle
		</li><li class="uikit-tags__item">
			pear ice cream
		</li>
	</ul>

	<div class="uikit-body">
		<hr>
		<h2>Tags list using definition list (<code>dl</code>) with body</h2>

		<dl class="uikit-tags">
			<dt>Tags:</dt>
			<dd class="uikit-tags__item"><a href="#">foo</a></dd>
			<dd class="uikit-tags__item"><a href="#">bar</a></dd>
			<dd class="uikit-tags__item"><a href="#">baz</a></dd>
			<dd class="uikit-tags__item"><a href="#">bloop</a></dd>
			<dd class="uikit-tags__item"><a href="#">blip</a></dd>
			<dd class="uikit-tags__item"><a href="#">wallop</a></dd>
			<dd class="uikit-tags__item"><a href="#">doodle</a></dd>
			<dd class="uikit-tags__item"><a href="#">pear ice cream</a></dd>
		</dl>

		<dl class="uikit-tags">
			<dt>Tags without links:</dt>
			<dd class="uikit-tags__item">foo</dd>
			<dd class="uikit-tags__item">bar</dd>
			<dd class="uikit-tags__item">baz</dd>
			<dd class="uikit-tags__item">bloop</dd>
			<dd class="uikit-tags__item">blip</dd>
			<dd class="uikit-tags__item">wallop</dd>
			<dd class="uikit-tags__item">doodle</dd>
			<dd class="uikit-tags__item">pear ice cream</dd>
		</dl>

		<h2>Tags list using <code>ul</code> and a heading with body</h2>

		<span>Tags:</span>
		<ul class="uikit-tags">
			<li class="uikit-tags__item">
				<a href="#">foo</a>
			</li>
			<li class="uikit-tags__item">
				<a href="#">bar</a>
			</li>
			<li class="uikit-tags__item">
				<a href="#">baz</a>
			</li>
			<li class="uikit-tags__item">
				<a href="#">bloop</a>
			</li>
			<li class="uikit-tags__item">
				<a href="#">blip</a>
			</li>
			<li class="uikit-tags__item">
				blip
			</li>
			<li class="uikit-tags__item">
				<a href="#">wallop</a>
			</li>
			<li class="uikit-tags__item">
				<a href="#">doodle</a>
			</li><li class="uikit-tags__item">
				<a href="#">pear ice cream</a>
			</li>
		</ul>

		<span>Tags without links:</span>
		<ul class="uikit-tags">
			<li class="uikit-tags__item">
				foo
			</li>
			<li class="uikit-tags__item">
				bar
			</li>
			<li class="uikit-tags__item">
				baz
			</li>
			<li class="uikit-tags__item">
				bloop
			</li>
			<li class="uikit-tags__item">
				blip
			</li>
			<li class="uikit-tags__item">
				blip
			</li>
			<li class="uikit-tags__item">
				wallop
			</li>
			<li class="uikit-tags__item">
				doodle
			</li><li class="uikit-tags__item">
				pear ice cream
			</li>
		</ul>
	</div>