<div class="uikit-grid">
    <div class="row">
        <div class="col-md-12">
            {{> organisms-cross-site-alert}}
        </div>
        <div class="col-md-12">
            {{> organisms-header }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-12">
                {{> organisms-top-nav }}
            </div>
        </div>
        <div class="col-md-1"></div>
        <hr class="col-md-12 no-margin" />
        <div class="col-md-12">
            {{> atoms-banner }}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-12">
                <div class="col-md-12">
                    {{> atoms-alert-info }}
                </div>
            </div>
            {{> organisms-tiles-section}}
            <div class="col-md-12">
                <div class="col-md-12">
                    {{> atoms-callout }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    {{> organisms-article-box }}
                </div>
                <div class="col-md-3">
                    {{> organisms-article-box }}
                </div>
                <div class="col-md-3">
                    {{> organisms-article-box }}
                </div>
                <div class="col-md-3">
                    {{> organisms-article-box }}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-12">
            {{> organisms-footer }}
        </div>
        <div class="col-md-12">
            {{> organisms-footer-global }}
        </div>
    </div>
</div>