<div class="uikit-grid">
    <div class="row">
        <div class="col-md-12">
            {{> organisms-header }}
        </div>
        <div class="col-md-12">
            {{> organisms-top-menu }}
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                {{> atoms-text-banner(content: "<h1>Title text</h1><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel ultricies ante. Fusce feugiat placerat porttitor. Pellentesque ac dignissim turpis.</p>") }}
            </div>
        </div>
        <div class="col-md-12">
            {{> organisms-footer }}
        </div>
    </div>
</div>