<div class="top-nav">
    <ul class=" uikit-link-list uikit-link-list--inline ">
        <li>
            <a href="# " title="Menu item ">Menu item</a>
        </li>
        <li>
            <a href="# " title="Menu item ">Menu item</a>
        </li>
        <li>
            <a href="# " title="Menu item ">Menu item</a>
        </li>
        <li>
            <a href="# " title="Menu item ">Menu item</a>
        </li>
    </ul>
</div>