<table class="spf-table {{classNames}}">
  <thead>
    <tr>
      {{# tableHeadings}}
      <th scope="col">{{tableHeading}}</th>
      {{/ tableHeadings}}
    </tr>
  </thead>
  <tbody>
    {{# tableRows}}
    <tr>
      {{# tableCells}}
      <td>{{tableCell}}</td>
      {{/ tableCells}}
    </tr>
    {{/ tableRows}}
  </tbody>
</table>