
$spf-colour-second-Gradiant: #A33790 !default; //SPF colors added as extension of UIkit default colors. Gradiant secondary color is not provided by UIkit 

$spf-colour-second-Gradiant--10: mix(black, $spf-colour-second-Gradiant, 10) !default;
$spf-colour-second-Gradiant--20: mix(black, $spf-colour-second-Gradiant, 20) !default;
$spf-colour-second-Gradiant--30: mix(black, $spf-colour-second-Gradiant, 30) !default;
$spf-colour-second-Gradiant--40: mix(black, $spf-colour-second-Gradiant, 40) !default;
$spf-colour-second-Gradiant--50: mix(black, $spf-colour-second-Gradiant, 50) !default;
$spf-colour-second-Gradiant--60: mix(black, $spf-colour-second-Gradiant, 60) !default;
$spf-colour-second-Gradiant--70: mix(black, $spf-colour-second-Gradiant, 70) !default;
$spf-colour-second-Gradiant--80: mix(black, $spf-colour-second-Gradiant, 80) !default;
$spf-colour-second-Gradiant--90: mix(black, $spf-colour-second-Gradiant, 90) !default;
$spf-colour-second-Gradiant--95: mix(black, $spf-colour-second-Gradiant, 95) !default;

$spf-colour-second-Gradiant-90: mix(white, $spf-colour-second-Gradiant, 10) !default;
$spf-colour-second-Gradiant-80: mix(white, $spf-colour-second-Gradiant, 20) !default;
$spf-colour-second-Gradiant-70: mix(white, $spf-colour-second-Gradiant, 30) !default;
$spf-colour-second-Gradiant-60: mix(white, $spf-colour-second-Gradiant, 40) !default;
$spf-colour-second-Gradiant-50: mix(white, $spf-colour-second-Gradiant, 50) !default;
$spf-colour-second-Gradiant-40: mix(white, $spf-colour-second-Gradiant, 60) !default;
$spf-colour-second-Gradiant-30: mix(white, $spf-colour-second-Gradiant, 70) !default;
$spf-colour-second-Gradiant-20: mix(white, $spf-colour-second-Gradiant, 80) !default;
$spf-colour-second-Gradiant-10: mix(white, $spf-colour-second-Gradiant, 90) !default;
$spf-colour-second-Gradiant-5: mix(white, $spf-colour-second-Gradiant, 95) !default;
