.search-box {
  margin-top: .2em;

  .group-element,
  .group-element:first-child,
  .group-element:last-child {
    border: solid 2px $uikit-colour-Primary;
  }

  .uikit-btn {
    padding: .1em;
  }

  .uikit-btn i {
    font-size: 34px;
    font-style: normal;
  }
}
