.search-box {
  margin-top: .2em;

  .group-element,
  .group-element:first-child,
  .group-element:last-child {
    border: solid 2px $uikit-colour-Primary;
    max-height: 42px;
  }

  .uikit-btn {
    padding: 4px;
  }

  .uikit-btn i {
    font-size: 30px;
    font-style: normal;
  }
}
