.spf-body {
  .spf-text-banner {
    padding: uikit-space(1);
    display: inline-block;
    width: 100%;
    line-height: 1;
    color: $uikit-colour-Text;

    &.spf-text-banner--large {
      padding: uikit-space(2);
    }

    &.spf-text-banner--hero {
      background-color: $uikit-colour-Hero;
      color: $uikit-colour-Background;
    }

    &.spf-text-banner--primary {
      background-color: $uikit-colour-Primary;
      color: $uikit-colour-Background;
    }

    &.spf-text-banner--light {
      background-color: $uikit-colour-Background;
    }

    &.spf-text-banner--dark {
      background-color: $uikit-colour-Secondary;
      color: $uikit-colour-Background;
    }

    &.spf-text-banner--gradiant {
      background: linear-gradient(to right, $uikit-colour-Primary, $spf-colour-second-Gradiant);
      color: $uikit-colour-Background;
    }
  }
}
