 {{# headerLogoList}}
<a href="#" title="{{headerLogoTitle}}" class="uikit-header__logo-wrapper">
    <ul class="uikit-link-list uikit-link-list--inline">
        {{# logoList}}
        <li class="uikit-header__logo">
            {{> atoms-image-header-logo}}
        </li>
        {{/ logoList}}
    </ul>
</a>
{{/ headerLogoList}}