 {{# headerLogoTextList}}
<a href="#" title="{{headerLogoTitle}}" class="uikit-header__logo-wrapper">
    <ul class="uikit-link-list uikit-link-list--inline">
        <li class="uikit-header__logo">
            {{> atoms-image-header-logo}}
        </li>
        <li class="uikit-header__logo">
            <span class="uikit-header__logo-text">{{logoText}}</span>
        </li>
    </ul>
</a>
{{/ headerLogoTextList}}