<ul class="uikit-link-list uikit-link-list--inline">
    {{# logoList}}
    <li>
        <a href="#" title="{{logoTitle}}" class="uikit-footer__logo-image">
            {{> atoms-image-footer-logo}}
        </a>
    </li>
    {{/ logoList}}
</ul>