.spf-body .uikit-header {
    padding: uikit-space(1) 0;
    margin-bottom: 0;
    @include uikit-clearfix;
    .uikit-header__logo-wrapper {
        float: left;
        border: none;
        .uikit-header__logo {
            border-bottom: none;
            padding: uikit-space(.25);
            float: left;
            padding: 0;
            padding-right: uikit-space(.6);
            border-right: $uikit-borderize;
            &:hover,
            &:focus {
                border-bottom: none;
            }
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
            .uikit-header__logo-image,
            .uikit-header__logo-text {
                width: 140px;
                height: 72px;
            }
            .uikit-header__logo-image {
                float: left;
            }
            .uikit-header__logo-text {
                display: table-cell;
                vertical-align: middle;
                font-size: x-large;
                font-weight: 400;
            }
        }
    }
    .header-search-row {
        @include uikit-media(md) {
            margin-top: uikit-space(-.5);
        }
    }
}