// Progress throbber
//
// Shows the progress of a task using a throbber.
//
// Markup: progress-throbber.twig
//
// Style guide: forms.progress-throbber

%uikit-progress-throbber {
  display: inline-block;

  &__widget {
    background: url('../sass/forms/progress-throbber/progress-throbber.gif') no-repeat 0 -18px transparent;
    float: left;
    height: 15px;
    margin: 2px;
    width: 15px;
  }

  &__widget-in-tr {
    margin: 0 2px;
  }

  &__message {
    padding-left: 20px;
  }
}
