.spf-page-sidebar {
    padding: uikit-space(1);
    // margin: uikit-space(1) 0;
}

.spf-page-sidebar--right {
    @extend .spf-page-sidebar;
    border-left: $uikit-borderize;
    margin-left: -1px;
}

.spf-page-sidebar--left {
    @extend .spf-page-sidebar;
    border-right: $uikit-borderize;
    margin-right: -1px;
}