{{# keyTask}}
<div class="spf-key-task">
    <div class="spf-key-tasks--icon">
        {{> atoms-fontawesome}}
    </div>
    <div class="spf-key-tasks--title">
        {{> atoms-text-link}}
    </div>
    <div class="spf-key-tasks--text">
        {{keyTaskText}}
    </div>
</div>
{{/ keyTask}}