.spf-body {
    .spf-contact-us-form {
        .spf-contact-us-form--title,
        .spf-contact-us-form--body {
            .spf-form {
                >label {
                    margin-top: uikit-space(1);
                }
            }
            label.spf-contact-form-fullname::before,
            label.spf-contact-form-email::before {
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                margin-right: 4px;
            }
            label.spf-contact-form-fullname::before {
                content: "\f007";
            }
            label.spf-contact-form-email::before {
                content: "\f003";
            }
        }
        .spf-contact-us-form--body {
            padding-top: 0;
        }
    }
}