.uikit-date {
	background: #fff;
	margin: uikit-space(.5) 0 uikit-space(.5) uikit-space(.5);
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border-radius: $uikit-border-radius;
	overflow: hidden;
	.day {
		font-size: 28px;
		background: $uikit-colour-Hero;
		color: #fff;
	}
	.month {
		background: #eee;
	}
	.year {
		background: #ddd;
	}
	.month,
	.year {
		font-size: 14px;
	}
	span {
		display: block;
		padding: 2px uikit-space(.5);
	}
}
