// Colors
//
// Markup: colors.twig
//
// Weight: -1
//
// Style guide: sass.colors

$uikit-colour-Hero: #2C1A5C; //color variables (yes! the actual spelling doesn't have a u)
$uikit-colour-Primary: #3F2583;
$uikit-colour-Secondary: #313131;
$uikit-colour-Background: #f0f3f5;
$uikit-colour-Border: #555;
$uikit-colour-Text: #313131;
$uikit-colour-Link: #ebd2e7;

$uikit-colour-Error: #ff635c;
$uikit-colour-Success: #0cac78;
$uikit-colour-Warning: #f69900;
$uikit-colour-Info: #00bfe9;


$table-bg: transparent;