.spf-download-link {
    &::after {
        content: " \f0ab";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        color: $uikit-colour-Primary;
    }
    .spf-download-link--size {
        &::before {
            content: "[ \f016";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            margin-right: 4px;
        }
        &::after {
            content: " ]";
        }
    }
    &.spf-download-link--pdf {
        .spf-download-link--size::before {
            content: "[ \f1c1 ";
        }
    }
    &.spf-download-link--word {
        .spf-download-link--size::before {
            content: "[ \f1c2 ";
        }
    }
    &.spf-download-link--ppt {
        .spf-download-link--size::before {
            content: "[ \f1c4 ";
        }
    }
    &.spf-download-link--txt {
        .spf-download-link--size::before {
            content: "[ \f0f6 ";
        }
    }
}