<h2>colour contrasts main palette</h2>

<table class="contrast no-a11y-test">
	<caption>
		The contrast of the main colors
	</caption>
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">White</th>
			<th scope="col">Background</th>
			<th scope="col">Hero</th>
			<th scope="col">Primary</th>
			<th scope="col">Secondary</th>
			<th scope="col">Border</th>
			<th scope="col">Link</th>
			<th scope="col">Gradiant</th>
		</tr>
	</thead>
	<tbody>
		<tr class="contrast-white">
			<th scope="row">White</th>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
		<tr class="contrast-text">
			<th scope="row">Text</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>

		</tr>
		<tr class="contrast-hero">
			<th scope="row">Hero</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
		<tr class="contrast-primary">
			<th scope="row">Primary</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
		<tr class="contrast-secondary">
			<th scope="row">Secondary</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
		<tr class="contrast-border">
			<th scope="row">Border</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--link">Link</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
		<tr class="contrast-link">
			<th scope="row">Link</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--hero">Hero</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--primary">Primary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--secondary">Secondary</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--border">Border</div>
			</td>
			<td>
				<div class="contrast-box"></div>
			</td>
			<td>
				<div class="contrast-box contrast-box--gradiant">gradiant</div>
			</td>
		</tr>
	</tbody>
</table>

<hr>

<h2>colour contrasts notification palette</h2>

<table class="contrast no-a11y-test">
	<caption>
		The contrast of the secondary colors
	</caption>
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col">White</th>
			<th scope="col">Background</th>
			<th scope="col">Error</th>
			<th scope="col">Success</th>
			<th scope="col">Warning</th>
			<th scope="col">Info</th>
		</tr>
	</thead>
	<tbody>
		<tr class="contrast-white">
			<th scope="row">White</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
		<tr class="contrast-text">
			<th scope="row">Text</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
		<tr class="contrast-error">
			<th scope="row">Error</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
		<tr class="contrast-success">
			<th scope="row">Success</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
		<tr class="contrast-warning">
			<th scope="row">Warning</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
		<tr class="contrast-info">
			<th scope="row">Info</th>
			<td>
				<div class="contrast-box contrast-box--white">White</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--background">Background</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--error">Error</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--success">Success</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--warning">Warning</div>
			</td>
			<td>
				<div class="contrast-box contrast-box--info">Info</div>
			</td>
		</tr>
	</tbody>
</table>

<hr>