<header class="uikit-grid uikit-header uikit-header--light">
    <div class="col-md-4">
        <a href="#" title="Home" rel="home" class="uikit-header__logo">
                        {{> atoms-header-logo }}
                    </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row header-search-row">
            <div class="col-md-12">
                <div class="pull-right header-menu">
                    <ul class="uikit-link-list uikit-link-list--inline">
                        <li>
                            <a href="#" title="link" class="menu__link">Header link</a>
                        </li>
                        <li>
                            <a href="#" title="link" class="menu__link">Header link</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{> molecules-search }}
            </div>
        </div>
    </div>
</header>