<div class="spf-social-media-icon-bar">
    <a href="#" title="social-media-icon.facebook.title">
    {{> atoms-social-media-icon-sm(smIconClassname: "fa-facebook-square") }}
    </a>
    <a href="#" title="social-media-icon.youtube.title">
    {{> atoms-social-media-icon-sm(smIconClassname: "fa-youtube-square") }}
    </a>
    <a href="#" title="social-media-icon.twitter.title">
    {{> atoms-social-media-icon-sm(smIconClassname: "fa-twitter-square") }}
    </a>
</div>