<div class="spf-tabs">
        {{> molecules-tabs-menu}}
        <div class="spf-tabs-content">
        {{# tabsContent}}
                <div class="spf-tabs-content--item" id="{{id}}">
                        {{{text}}}
                </div>
        {{/ tabsContent}}
        </div>
</div>