<div class="spf-tabs">
        {{> molecules-tabs-menu}}
        <div class="spf-tabs-content">
                <div class="spf-tab-item" id="tab1">
                {{text}}
                </div>
                <div class="spf-tab-item" id="tab2">
                {{text}}
                </div>
                <div class="spf-tab-item" id="tab3">
                {{text}}
                </div>
        </div>
</div>