<h1>Test: select</h1>

	<h2>normal select</h2>

	<label for="select1">What option?</label>

	<div class="uikit-select">
		<select id="select1" class="uikit-select__element">
			<option value="">Please select</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
	</div>


	<hr>
	<h2>select disabled</h2>

	<label for="select2">What option?</label>

	<div class="uikit-select">
		<select id="select2" class="uikit-select__element" disabled="">
			<option value="">Please select</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
	</div>


	<hr>
	<h2>block select</h2>

	<label for="select3">What option?</label>

	<div class="uikit-select uikit-select-block">
		<select id="select3" class="uikit-select__element">
			<option value="">Please select</option>
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
			<option value="3">Option 3</option>
		</select>
	</div>