<div class='spf-image-outer'>
    <div class='spf-image-inner'>
        <img src="{{img.feature-article.src}}" alt="{{img.feature-article.alt}}" class="spf-feature-article-image" /> 
    </div>
</div>