<h1>Test: responsive-media</h1>

	<h2>responsive images</h2>

	<img class="uikit-responsive-media-img" src="./Test_ responsive-media_files/1200x100" alt="Placeholder image">

	<hr>
	<h2>responsive videos 16:9</h2>

	<div class="uikit-responsive-media-vid uikit-responsive-media-vid--16x9">
		<iframe class="uikit-responsive-media-vid__item" src="./Test_ responsive-media_files/WUgvvPRH7Oc.html"></iframe>
	</div>

	<hr>
	<h2>responsive videos 4:3</h2>

	<div class="uikit-responsive-media-vid uikit-responsive-media-vid--4x3">
		<iframe class="uikit-responsive-media-vid__item" src="./Test_ responsive-media_files/mM5_T-F1Yn4.html"></iframe>
	</div>

	<div class="uikit-responsive-media-vid uikit-responsive-media-vid--4x3">
		<iframe class="uikit-responsive-media-vid__item" src="./Test_ responsive-media_files/w3lsDQD9_98.html"></iframe>
	</div>