<div class="spf-pagination {{classNames}}" aria-label="pagination">
    {{> atoms-text-link(textLinkClassname: "spf-pagination--prev",textLinkText:'<span class="sr-only">Previous page</span>')}}
    {{> molecules-link-list-hr}} 
    {{> atoms-text-link(textLinkClassname: "spf-pagination--next",textLinkText:'<span class="sr-only">Previous page</span>')}}
</div>