<section class="uikit-accordion">
	<a href="#accordion-default" class="uikit-accordion__title js-uikit-accordion uikit-accordion--closed" aria-controls="accordion-default"
	 aria-expanded="false" aria-selected="false" role="tab">
						Accordion title
				</a>

	<div class="uikit-accordion__body uikit-accordion--closed" id="accordion-default" aria-hidden="true" style="height: 0px;">
		<div class="uikit-accordion__body-wrapper">

			Here <a href="#url">is</a> some accordion content

		</div>
	</div>
</section>