<h1>Test: animate</h1>

		<div class="row">
			<div class="grids col-sm-6">
				<h2>#1 Open, close and toggle height between 0 and auto</h2>

				<div>
					<button aria-controls="close" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-1&#39;),
							property: &#39;height&#39;,
							endSize: 0,
							speed: 500,
							callback: function() {
								console.log(&#39;end close #1&#39;);
							},
						})">Close</button>
					<button aria-controls="open" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-1&#39;),
							property: &#39;height&#39;,
							endSize: &#39;auto&#39;,
							speed: 500,
							callback: function() {
								console.log(&#39;end open #1&#39;);
							},
						})">Open</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({
							element: document.getElementById(&#39;dropdown-1&#39;),
							property: &#39;height&#39;,
							speed: 500,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #1&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #1&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #1&#39;);
							},
						})">Toggle</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-1&#39;) )">Stop</button>
				</div>

				<div class="uikit-dropdown-example" id="dropdown-1">
					&nbsp;<br><br><br>
				</div>
			</div>

			<div class="grids col-sm-6">
				<h2>#2 Open, close and toggle width between 0 and auto</h2>

				<div>
					<button aria-controls="close" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-2&#39;),
							property: &#39;width&#39;,
							endSize: 0,
							callback: function() {
								console.log(&#39;end close #2&#39;);
							},
						})">Close</button>
					<button aria-controls="open" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-2&#39;),
							property: &#39;width&#39;,
							endSize: &#39;auto&#39;,
							callback: function() {
								console.log(&#39;end open #2&#39;);
							},
						})">Open</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({
							element: document.getElementById(&#39;dropdown-2&#39;),
							property: &#39;width&#39;,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #2&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #2&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #2&#39;);
							},
						})">Toggle</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-2&#39;) )">Stop</button>
				</div>

				<div class="uikit-dropdown-example" id="dropdown-2">
					&nbsp;<br><br><br>
				</div>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="grids col-sm-6">
				<h2>#3 Animate padding</h2>

				<div>
					<button aria-controls="close" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-padding1&#39;),
							property: &#39;padding&#39;,
							endSize: 0,
							callback: function() {
								console.log(&#39;end removing padding #3&#39;);
							},
						})">Remove padding</button>
					<button aria-controls="open" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-padding1&#39;),
							property: &#39;padding&#39;,
							endSize: 20,
							callback: function() {
								console.log(&#39;end add padding #3&#39;);
							},
						})">Add padding</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({
							element: document.getElementById(&#39;dropdown-padding1&#39;),
							property: &#39;padding&#39;,
							closeSize: 0,
							openSize: 20,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #3&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #3&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #3&#39;);
							},
						})">Toggle padding</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-padding1&#39;) )">Stop</button>
				</div>

				<div style="padding:20px;border:1px solid #333;" class="uikit-dropdown-example" id="dropdown-padding1">
					<div class="inner-container" style="background-color:#fff;">&nbsp;<br><br><br></div>
				</div>
			</div>

			<div class="grids col-sm-6">
				<h2>#4 Animate margin</h2>

				<div>
					<button aria-controls="open" onclick="UIKIT.animate.Run({
							element: document.getElementById(&#39;dropdown-margin1&#39;),
							property: &#39;margin&#39;,
							endSize: 20,
							callback: function() {
								console.log(&#39;end margin add #4&#39;);
							},
						})">Add margin</button>
					<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-margin1&#39;),
							property: &#39;margin&#39;,
							endSize: 0,
							callback: function() {
								console.log(&#39;end remove margin #4&#39;);
							},
						})">Remove margin</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
							document.getElementById(&#39;dropdown-margin1&#39;),
							property: &#39;margin&#39;,
							closeSize: 0,
							openSize: 20,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #4&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #4&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #4&#39;);
							},
						})">Toggle margin</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-margin1&#39;) )">Stop</button>
				</div>

				<div class="outer-container" style="background-color:yellow;overflow:hidden;">
					<div style="margin-bottom:0;" class="uikit-dropdown-example" id="dropdown-margin1">
						&nbsp;<br><br><br>
					</div>
				</div>

			</div>

		</div>

		<hr>

		<div class="row">
			<div class="grids col-sm-6">
				<h2>#5 Animate position</h2>

				<div>
					<button aria-controls="back" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-position1&#39;),
							property: &#39;left&#39;,
							endSize: 0,
							speed: 1000,
							callback: function() {
								console.log(&#39;end position back #5&#39;);
							},
						})">Back</button>
					<button aria-controls="forward" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-position1&#39;),
							property: &#39;left&#39;,
							endSize: 100,
							speed: 1000,
							callback: function() {
								console.log(&#39;end position forward #5&#39;);
							},
						})">Forward</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
							document.getElementById(&#39;dropdown-position1&#39;),
							property: &#39;left&#39;,
							closeSize: 0,
							openSize: 100,
							speed: 1000,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #5&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #5&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #5&#39;);
							},
						})">Toggle</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-position1&#39;) )">Stop</button>
				</div>

				<div class="position-container" style="position:relative;height:50px;margin-top:20px;">
					<div style="height:20px;width:20px;border-radius:50%;position:absolute;top:0;left:100px;" class="uikit-dropdown-example" id="dropdown-position1">
						&nbsp;
					</div>
				</div>

			</div>
		</div>

		<hr>

		<div class="row">

			<div class="grids col-sm-6">
				<h2>#6 Open, close height between specified values</h2>

				<div>
					<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-3&#39;),
							property: &#39;height&#39;,
							endSize: 200,
							speed: 1000,
							callback: function() {
								console.log(&#39;end open #6&#39;);
							},
						})">Open</button>
					<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-3&#39;),
							property: &#39;height&#39;,
							endSize: 50,
							speed: 1000,
							callback: function() {
								console.log(&#39;end close #6&#39;);
							},
						})">Close</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
							document.getElementById(&#39;dropdown-3&#39;),
							property: &#39;height&#39;,
							openSize: 200,
							closeSize: 50,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #6&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #6&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #6&#39;);
							},
						})">Toggle</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-3&#39;) )">Stop</button>
				</div>

				<div style="height:50px;" class="uikit-dropdown-example" id="dropdown-3">
					&nbsp;
				</div>

			</div>

			<div class="grids col-sm-6">
				<h2>#7 Open, close width between specified values</h2>

				<div>
					<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-4&#39;),
							property: &#39;width&#39;,
							endSize: 200,
							speed: 1000,
							callback: function() {
								console.log(&#39;end open #7&#39;);
							},
						})">Open</button>
					<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
							document.getElementById(&#39;dropdown-4&#39;),
							property: &#39;width&#39;,
							endSize: 100,
							speed: 1000,
							callback: function() {
								console.log(&#39;end close #7&#39;);
							},
						})">Close</button>
					<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
							document.getElementById(&#39;dropdown-4&#39;),
							property: &#39;width&#39;,
							openSize: 200,
							closeSize: 100,
							prefunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;prefunction toggle #7&#39;);
							},
							postfunction: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;postfunction toggle #7&#39;);
							},
							callback: function( element, state ) {
								console.log( element );
								console.log( state );
								console.log(&#39;callback toggle #7&#39;);
							},
						})">Toggle</button>
					<button aria-controls="stop" onclick="UIKIT.animate.Stop( document.getElementById(&#39;dropdown-4&#39;) )">Stop</button>
				</div>

				<div style="height:50px;width:50px;" class="uikit-dropdown-example" id="dropdown-4">
					&nbsp;
				</div>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="grids col-sm-6">
				<h2>#8 Open, close and toggle multiple items</h2>

				<div>
					<div>
						<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
								document.querySelectorAll(&#39;.js-vertical-dropdown-group&#39;),
								property: &#39;height&#39;,
								endSize: &#39;auto&#39;,
								speed: 1000,
								callback: function() {
									console.log(&#39;end open all #8&#39;);
								},
							})">Open all</button>
						<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
								document.querySelectorAll(&#39;.js-vertical-dropdown-group&#39;),
								property: &#39;height&#39;,
								endSize: 0,
								speed: 1000,
								callback: function() {
									console.log(&#39;end close all #8&#39;);
								},
							})">Close all</button>
						<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
								document.querySelectorAll(&#39;.js-vertical-dropdown-group&#39;),
								property: &#39;height&#39;,
								prefunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;prefunction toggle #8&#39;);
								},
								postfunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;postfunction toggle #8&#39;);
								},
								callback: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;callback toggle #8&#39;);
								},
							})">Toggle all</button>
					</div>
				</div>

				<div class="uikit-dropdown-example js-vertical-dropdown-group elment1" id="dropdown-5">
					&nbsp;<br><br><br><br><br><br>
				</div>

				<div class=" uikit-dropdown-example js-vertical-dropdown-group elment2" style="height:0;">
					&nbsp;<br><br><br>
				</div>

				<div class="uikit-dropdown-example js-vertical-dropdown-group elment3">
					&nbsp;<br><br><br><br>
				</div>

			</div>

			<div class="grids col-sm-6">
				<h2>#9</h2>

				<div>
					<div>
						<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
								document.querySelectorAll(&#39;.js-horizontal-dropdown-group&#39;),
								property: &#39;width&#39;,
								endSize: &#39;auto&#39;,
								speed: 1000,
								callback: function() {
									console.log(&#39;end open all #9&#39;);
								},
							})">Open all</button>
						<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
								document.querySelectorAll(&#39;.js-horizontal-dropdown-group&#39;),
								property: &#39;width&#39;,
								endSize: 0,
								speed: 1000,
								callback: function() {
									console.log(&#39;end close all #9&#39;);
								},
							})">Close all</button>
						<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
								document.querySelectorAll(&#39;.js-horizontal-dropdown-group&#39;),
								property: &#39;width&#39;,
								prefunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;prefunction toggle #9&#39;);
								},
								postfunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;postfunction toggle #9&#39;);
								},
								callback: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;callback toggle #9&#39;);
								},
							})">Toggle all</button>
					</div>
				</div>

				<div class="uikit-dropdown-example js-horizontal-dropdown-group elment4" id="dropdown-6">
					&nbsp;<br><br><br>
				</div>

				<div class="uikit-dropdown-example js-horizontal-dropdown-group elment5" style="width:0;">
					&nbsp;<br><br><br>
				</div>

				<div class="uikit-dropdown-example js-horizontal-dropdown-group elment6">
					&nbsp;<br><br><br>
				</div>

			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12">
				<h2>Edge cases</h2>
			</div>

			<div class="grids col-sm-6">
				<h2>#10 less pixel than steps</h2>

				<div>
					<div>
						<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
								document.getElementById(&#39;edgecase1&#39;),
								property: &#39;height&#39;,
								endSize: 3,
								speed: 4,
								callback: function() {
									console.log(&#39;end open #10&#39;);
								},
							})">Open</button>
						<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
								document.getElementById(&#39;edgecase1&#39;),
								property: &#39;height&#39;,
								endSize: 0,
								speed: 4,
								callback: function() {
									console.log(&#39;end close #10&#39;);
								},
							})">Close</button>
						<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
								document.getElementById(&#39;edgecase1&#39;),
								property: &#39;height&#39;,
								openSize: 3,
								closeSize: 0,
								speed: 4,
								prefunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;prefunction toggle #10&#39;);
								},
								postfunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;postfunction toggle #10&#39;);
								},
								callback: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;callback toggle #10&#39;);
								},
							})">Toggle</button>
					</div>
				</div>

				<div class="uikit-dropdown-example" id="edgecase1"></div>

			</div>

			<div class="grids col-sm-6">
				<h2>#11 Half pixel step size</h2>

				<div>
					<div>
						<button aria-controls="open" onclick="UIKIT.animate.Run({ element:
								document.getElementById(&#39;edgecase2&#39;),
								property: &#39;height&#39;,
								endSize: 200,
								speed: 473,
								callback: function() {
									console.log(&#39;end open #11&#39;);
								},
							})">Open</button>
						<button aria-controls="close" onclick="UIKIT.animate.Run({ element:
								document.getElementById(&#39;edgecase2&#39;),
								property: &#39;height&#39;,
								endSize: 0,
								speed: 473,
								callback: function() {
									console.log(&#39;end close #11&#39;);
								},
							})">Close</button>
						<button aria-controls="toggle" onclick="UIKIT.animate.Toggle({ element:
								document.getElementById(&#39;edgecase2&#39;),
								property: &#39;height&#39;,
								openSize: 200,
								closeSize: 0,
								speed: 473,
								prefunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;prefunction toggle #11&#39;);
								},
								postfunction: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;postfunction toggle #11&#39;);
								},
								callback: function( element, state ) {
									console.log( element );
									console.log( state );
									console.log(&#39;callback toggle #11&#39;);
								},
							})">Toggle</button>
					</div>
				</div>

				<div class="uikit-dropdown-example" id="edgecase2" style="height:0;">
					&nbsp;<br><br><br>
				</div>

			</div>
		</div>

	</div>