<h1>Test: breadcrumbs</h1>

	<h2>breadcrumbs</h2>

	<nav class="uikit-breadcrumbs" aria-label="breadcrumb">
		<ul class="uikit-link-list uikit-link-list--inline">
			<li><a href="#">Home</a></li>
			<li><a href="#">Parent</a></li>
			<li>Current page</li>
		</ul>
	</nav>

	<hr>
	<h2>breadcrumbs inverted</h2>

	<nav class="uikit-breadcrumbs uikit-breadcrumbs--inverted" aria-label="breadcrumb">
		<ul class="uikit-link-list uikit-link-list--inline uikit-link-list--inverted">
			<li><a href="#">Home</a></li>
			<li><a href="#">Parent</a></li>
			<li>Current page</li>
		</ul>
	</nav>