	<h1>Test: callout</h1>

	<h2>Generic callout, applied directly to the paragraph</h2>

	<p class="uikit-callout" aria-label="Callout description1">A callout.</p>

	<hr>
	<h2>Generic callout applied to a container</h2>

	<p>The following container has the callout class, and holds a number of paragraphs.</p>

	<section class="uikit-callout" aria-label="Callout description2">
		<p>Nullam quis aliquam massa. Nunc suscipit, nisi in facilisis tempus, lectus quam ullamcorper tellus, in rutrum ipsum tortor sed nisl.</p>
		<p>Pellentesque porttitor in turpis in ornare. Quisque posuere sapien accumsan malesuada rutrum. Nulla vitae ex lacinia, rutrum est eu, tincidunt justo. Donec et ullamcorper elit, sit amet vulputate ipsum. Nulla porttitor rutrum libero sit amet sodales. Maecenas tincidunt dapibus pretium.</p>
		<p>Duis condimentum maximus ligula sed tincidunt.</p>
	</section>

	<hr>
	<h2>Generic callout applied to a container with uikit-body</h2>

	<div class="uikit-body">
		<section class="uikit-callout" aria-label="Callout description3">
			<p>Nullam quis aliquam massa. Nunc suscipit, nisi in facilisis tempus, lectus quam ullamcorper tellus, in rutrum ipsum tortor sed nisl.</p>
			<p>Pellentesque porttitor in turpis in ornare. Quisque posuere sapien accumsan malesuada rutrum. Nulla vitae ex lacinia, rutrum est eu, tincidunt justo. Donec et ullamcorper elit, sit amet vulputate ipsum. Nulla porttitor rutrum libero sit amet sodales. Maecenas tincidunt dapibus pretium.</p>
			<p>Duis condimentum maximus ligula sed tincidunt.</p>
		</section>
	</div>

	<hr>
	<h2>Calendar event callout</h2>

	<section class="uikit-callout uikit-callout--calendar-event" aria-label="Callout description4">
		<span class="uikit-callout--calendar-event__lede">The next public holiday is:</span>
		<time class="uikit-callout--calendar-event__time" datetime="2017-01-01T00:00:00+00:00">Sunday 1 January</time>
		<span class="uikit-callout--calendar-event__name">New Year’s Day</span>
	</section>