<h1>Test: control-input</h1>

	<h2>checkboxes</h2>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex">
			<span class="uikit-control-input__text">Phone</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex" checked="">
			<span class="uikit-control-input__text">Tablet</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex">
			<span class="uikit-control-input__text">Laptop</span>
		</label>
	</p><p>

	</p><p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex" disabled="">
			<span class="uikit-control-input__text">Fax</span>
		</label>
	</p><p>

	</p><p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex" checked="" disabled="">
			<span class="uikit-control-input__text">Fax</span>
		</label>
	</p><p>

	</p><hr>
	<h2>checkboxes variation <code>--full</code></h2>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex2">
			<span class="uikit-control-input__text">Phone</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex2" checked="">
			<span class="uikit-control-input__text">Tablet</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex2">
			<span class="uikit-control-input__text">Laptop</span>
		</label>
	</p><p>

	</p><p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex2" disabled="">
			<span class="uikit-control-input__text">Fax</span>
		</label>
	</p><p>

	</p><p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="checkbox" name="checkbox-ex2" checked="" disabled="">
			<span class="uikit-control-input__text">Fax</span>
		</label>
	</p><p>

	</p><hr>
	<h2>radio buttons</h2>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">Yes</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">Maybe</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">No</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex" checked="" disabled="">
			<span class="uikit-control-input__text">What?</span>
		</label>
	</p>

	<hr>
	<h2>radio buttons <code>--full</code></h2>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">Yes</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">Maybe</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">No</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2" checked="" disabled="">
			<span class="uikit-control-input__text">What?</span>
		</label>
	</p>