<h1>Test: direction-links</h1>

	<div class="col-sm-6 uikit-body">
		<h2>bare</h2>
		<a class="uikit-direction-link" href="http://uikit.apps.staging.digital.gov.au/packages/direction-links/tests/site/#">Continue</a>
	</div>

	<hr>
	<h2><code>--right</code> variant</h2>

	<a class="uikit-direction-link uikit-direction-link--right" href="http://uikit.apps.staging.digital.gov.au/packages/direction-links/tests/site/#">Next</a>

	<hr>
	<h2><code>--left</code> variant</h2>

	<a class="uikit-direction-link uikit-direction-link--left" href="http://uikit.apps.staging.digital.gov.au/packages/direction-links/tests/site/#">Back</a>

	<hr>
	<h2><code>--up</code> variant</h2>

	<a class="uikit-direction-link uikit-direction-link--up" href="http://uikit.apps.staging.digital.gov.au/packages/direction-links/tests/site/#">Top</a>

	<hr>
	<h2><code>--down</code> variant</h2>

	<a class="uikit-direction-link uikit-direction-link--down" href="http://uikit.apps.staging.digital.gov.au/packages/direction-links/tests/site/#">Skip to footer</a>

	<hr>
	<h2>direction-links as button</h2>

	<button class="uikit-direction-link uikit-direction-link--right">Next</button>
	<button class="uikit-direction-link uikit-direction-link--left">Back</button>
	<button class="uikit-direction-link uikit-direction-link--up">Top</button>
	<button class="uikit-direction-link uikit-direction-link--down">Skip to footer</button>