<h1>Test: header</h1>

	<div class="split-wrapper">
		<div class="split">
			<h2>without body</h2>

			<h3>header default</h3>

			<header class="uikit-header" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header default with h5</h3>

			<header class="uikit-header" role="banner">
				<h5 class="uikit-header-heading">Page title</h5>
			</header>


			<h3>header default with span</h3>

			<header class="uikit-header" role="banner">
				<span class="uikit-header-heading">Page title</span>
			</header>


			<h3>header default with subline</h3>

			<header class="uikit-header" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--light</code></h3>

			<header class="uikit-header uikit-header--light" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header <code>--dark</code></h3>

			<header class="uikit-header uikit-header--dark" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header <code>--hero</code></h3>

			<header class="uikit-header uikit-header--hero" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--hero</code> <code>--light</code></h3>

			<header class="uikit-header uikit-header--hero uikit-header--light" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--hero</code> <code>--dark</code></h3>

			<header class="uikit-header uikit-header--hero uikit-header--dark" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>

		</div>
		<div class="split uikit-body">
			<h2>with body</h2>

			<h3>header default</h3>

			<header class="uikit-header" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header default with h5</h3>

			<header class="uikit-header" role="banner">
				<h5 class="uikit-header-heading">Page title</h5>
			</header>


			<h3>header default with span</h3>

			<header class="uikit-header" role="banner">
				<span class="uikit-header-heading">Page title</span>
			</header>


			<h3>header default with subline</h3>

			<header class="uikit-header" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--light</code></h3>

			<header class="uikit-header uikit-header--light" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header <code>--dark</code></h3>

			<header class="uikit-header uikit-header--dark" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
			</header>


			<h3>header <code>--hero</code></h3>

			<header class="uikit-header uikit-header--hero" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--hero</code> <code>--light</code></h3>

			<header class="uikit-header uikit-header--hero uikit-header--light" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>


			<h3>header <code>--hero</code> <code>--dark</code></h3>

			<header class="uikit-header uikit-header--hero uikit-header--dark" role="banner">
				<h1 class="uikit-header-heading">Page title</h1>
				<span class="uikit-header-subline">Service sub-title that could be a little longer</span>
			</header>

		</div>
	</div>