<h1>Test: headings</h1>

	<div class="row">
		<div class="col-sm-6">

			<h2>headings on h1-h6</h2>

			<h4 class="uikit-display-6">Display 6</h4>
			<h5 class="uikit-display-5">Display 5</h5>
			<h2 class="uikit-display-4">Display 4</h2>
			<h3 class="uikit-display-3">Display 3</h3>
			<h1 class="uikit-display-2">Display 2</h1>
			<h6 class="uikit-display-1">Display 1</h6>
		</div>

		<div class="col-sm-6">
			<h2>headings on span</h2>

			<span class="uikit-display-6">Display 6</span>
			<span class="uikit-display-5">Display 5</span>
			<span class="uikit-display-4">Display 4</span>
			<span class="uikit-display-3">Display 3</span>
			<span class="uikit-display-2">Display 2</span>
			<span class="uikit-display-1">Display 1</span>
		</div>
	</div>

	<hr>
	<h2>headings with text</h2>

	<p>The following heading receive the <code>.uikit-display-[1…6]</code> classes.</p>

	<h1 class="uikit-display-6">Heading tier one (6)</h1>

	<p>The quick brown fox jumped over the lazy dog</p>

	<h2 class="uikit-display-5">Heading tier two (5)</h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac quam viverra, lobortis lacus ac, dictum ligula.</p>
	<p>Curabitur eu porta nisl.</p>

	<h3 class="uikit-display-4">Straight into a heading tier three (3)</h3>

	<p>Curabitur aliquam id metus nec porttitor. Nunc lacus sapien, rutrum nec convallis pharetra, condimentum vitae turpis.</p>

	<h4 class="uikit-display-3">Heading tier four (3)</h4>

	<p>Sed eros tortor, ornare eu tortor vel, pulvinar commodo dolor. Phasellus bibendum lacus quis quam feugiat lacinia. Sed tellus eros, pellentesque vel posuere tempor, pretium non metus.</p>

	<h5 class="uikit-display-2">Heading tier five (2)</h5>

	<p>Ut erat nisl, convallis sit amet turpis vel, tincidunt dictum dolor. Praesent lacinia nulla nisi, eu suscipit ante ornare sit amet. Sed posuere urna non nibh accumsan dignissim.</p>
	<p>Pellentesque facilisis magna lectus, in tincidunt dolor sollicitudin finibus.</p>

	<h6 class="uikit-display-1">Heading tier six (1)</h6>

	<p>The goby fish and pistol shrimp are closest of friends.</p>

	<hr>
	<h2>headings on paragraph, span</h2>

	<p>Similarly, we can apply the classes to other elements as visually necessary:</p>

	<p class="uikit-display-4">This is a paragraph using <code>.uikit-display-4</code>.</p>

	<span class="uikit-display-5">This is a span tag using <code>.uikit-display-5</code>.</span>

	<span class="uikit-display-4">This is a span tag using <code>.uikit-display-4</code>.</span>

	<p>And back to a regular paragraph.</p>