<h1>Test: link-list</h1>

	<h2>Link list</h2>

	<ul class="uikit-link-list">
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Options</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Help</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Sign Out</a></li>
	</ul>

	<hr>
	<h2>Link list inverted</h2>

	<ul class="uikit-link-list uikit-link-list--inverted">
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Options</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Help</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Sign Out</a></li>
	</ul>

	<hr>
	<h2>Link list inline</h2>

	<ul class="uikit-link-list uikit-link-list--inline">
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Options</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Help</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Sign Out</a></li>
	</ul>

	<hr>
	<h2>Link list inline inverted</h2>

	<ul class="uikit-link-list uikit-link-list--inline uikit-link-list--inverted">
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Options</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Help</a></li>
		<li><a href="http://uikit.apps.staging.digital.gov.au/packages/link-list/tests/site/#">Sign Out</a></li>
	</ul>