<div class="spf-footer-global">
    <div class="col-md-6">
        {{> molecules-link-list-hr-inverted}}
    </div>
    <div class="col-md-6">
        <a href="#" title="Home" rel="home" class="uikit-footer__logo">{{> atoms-footer-logo }}</a>

    </div>
</div>