<div class="spf-text-banner spf-text-banner--light">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>{{> molecules-breadcrumb}}</p>
            <p>
                <h1>{{pageTitle}}</h1>
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>