{{# buttonEnabled}}
<button class="uikit-btn uikit-btn--secondary">Save</button>
{{/ buttonEnabled}}

{{# buttonDisabled}}
<button class="uikit-btn uikit-btn--secondary" disabled="">Save</button>
{{/ buttonDisabled}}