	<h2>primary button</h2>

	<button class="uikit-btn">Continue</button>
	<button class="uikit-btn" disabled="">Continue</button>

	<hr>
	<h2>secondary button</h2>

	<button class="uikit-btn uikit-btn--secondary">Save</button>
	<button class="uikit-btn uikit-btn--secondary" disabled="">Save</button>

	<hr>
	<h2>tertiary button</h2>

	<button class="uikit-btn uikit-btn--tertiary">Cancel</button>
	<button class="uikit-btn uikit-btn--tertiary" disabled="">Cancel</button>

	<hr>
	<h2>buttons with block</h2>

	<button class="uikit-btn uikit-btn--block">Continue</button>
	<button class="uikit-btn uikit-btn--secondary uikit-btn--block">Save</button>
	<button class="uikit-btn uikit-btn--tertiary uikit-btn--block">Cancel</button>

	<hr>
	<h2>buttons wrongly marked up :)</h2>

	<a class="uikit-btn" href="">I am actually a link</a>
	<a class="uikit-btn uikit-btn--secondary" href="">I am actually a link</a>
	<a class="uikit-btn uikit-btn--tertiary" href="">I am actually a link</a>

