<div class="spf-key-tasks-icon-set uikit-grid">
    <div class="row">
        {{# keyTasksIconSet}}
        <div class="col-md-3 spf-key-tasks-icon-set--task">
            {{> molecules-key-task}}
        </div>
        {{/ keyTasksIconSet}}
    </div>
</div>