{{# downloadLinks}}
<a href="#" class="spf-download-link spf-download-link--pdf" title="{{downloadLinkTitle}}">
    <span class="spf-download-link--title">{{downloadLinkTitle}}</span>
    <span class="spf-download-link--size">{{downloadLinkSize}}</span>
</a> 
{{/ downloadLinks}}