{{# downloadLinks.noTitle}}
<a href="#" class="{{downloadLinkClassname}}" title="{{downloadLinkTitle}}">
    <span class="spf-download-link--size">{{downloadLinkSize}}</span>
</a> 
{{/ downloadLinks.noTitle}}