{{# downloadLinks.word}}
<a href="#" class="{{downloadLinkClassname}}" title="{{downloadLinkTitle}}">
    <span class="spf-download-link--title">{{downloadLinkTitle}}</span>
    <span class="spf-download-link--size">{{downloadLinkSize}}</span>
</a> 
{{/ downloadLinks.word}}