//--------------------------------------------------------------
// Site nav and sub nav
// The main navigation element on the site, along with a subnav for the subsections
//
//--------------------------------------------------------------
// @import 'print';

.spf-body .spf-sub-nav hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid 1px $uikit-colour-Primary;
}
.spf-body .spf-sub-nav-row {
  padding: uikit-space(1);
  border-bottom: solid 1px #c5c5c5;
}
