<form class="spf-form">
    {{# registerForm}}
        {{# textFields}}
            {{> atoms-text-field}}
        {{/ textFields}}
    {{/ registerForm}}
    {{> atoms-dropdown-responsive(dropdownLabel: "Where do you live?*")}}
    {{> atoms-checkbox(radioButtonName: "agreements", radioButtonText:"I am happy to receive updates on ACT Government engagements", radioButtonChecked:"checked") }}
    {{> atoms-checkbox(radioButtonName: "privacy", radioButtonText:"I agree to the privacy statement*") }}
    <p>By creating an account you agree to our {{> atoms-text-link(textLinkTitle:"Privacy Policy", textLinkText: "Privacy Policy") }} and {{> atoms-text-link(textLinkTitle:"Terms of Use", textLinkText:"Terms of Use") }}.</p>
    {{> atoms-button(buttonEnabled:"true", buttonText:"Sign up") }}
    <p>Already have an account? {{> atoms-text-link(textLinkTitle:"Terms of Use", textLinkText: "Log in now") }}</p>
</form>