.spf-image {
  width: 100%;
  object-fit: cover;

}

.spf-article-image {
  @extend .spf-image;
  height: 176px;
}

.spf-feature-article-image {
  width: 100%;
  height: 290px;
}

.spf-article-card-image {
  @extend .spf-image;
  width: 100px;
  height: 100px;
}

.spf-banner-image {
  @extend .spf-image;
  height: 420px;
}
