<div class="spf-article-card">
    <span class="spf-article-card--image">
        {{> atoms-image-article-card}}
    </span>
    <span class="spf-article-card--title">
        <h2><a href="#" title="Article title">{{article-box.title}}</a></h2>
    </span>
</div>