<div class="spf-article-box">
    <div class="row">
        <div class="col-md-12">
            {{> atoms-image-feature-article}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 spf-article-title">
            <h2><a href="#" title="Article title">{{article-box.title}}</a></h2>
        </div>
         <div class="col-md-12 spf-article-body">
            <p>{{article-box.subtitle}}</p>
        </div>
   </div>
</div>