<div class="spf-link-text-sidebar">
    <h2>Sidebar title</h2>
    {{> molecules-link-text-block}}
    {{> molecules-link-text-block}}
    {{> molecules-link-text-block}}
    {{> molecules-link-text-block}}
</div>