.block-bean-featured-band,
.featured-band {
  @extend %uikit-feature-band;
}

.view-infographic  {
	margin-top: uikit-space(-1);
	position: relative;
	.featured-content {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		.uikit-header {
			margin-bottom: 0;
			padding: uikit-space(1);
		}
		.uikit-cta-link {
			margin-bottom: 0;
		}
	}
}