// Base style for uikit feature band

%uikit-feature-band {
	position: relative;
	height: auto;
	max-width: 100%;
	z-index: 1;
	overflow: hidden;
	height: 220px;
	@include uikit-media(sm) {
		height: 400px;
	}
	img {
		display: block;
		position: relative;
		max-width: none;
		width: 840px;
		height: 220px;
		margin-left: -400px;
		left: 50%;
		@include uikit-media(sm) {
			width: 1600px;
			height: 400px;
			margin-left: -800px;
		}
		@media (min-width: 1600px) {
			width: 100%;
			height: auto;
			margin: 0;
			left: auto;
		}
	}
	.featured-band-content {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		.content-wrapper {
			height: 100%;
			padding: uikit-space(1) uikit-space(1) uikit-space(1.25) uikit-space(1);
		}
		.uikit-cta-link {
			margin-top: uikit-space(.5);
			margin-bottom: uikit-space(.25);
		}
	}
}
