<h1>Test: cta-link</h1>

	<h2>cta-link</h2>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero impedit, iure sequi debitis optio porro unde maiores minus ipsum sit ut aut atque nesciunt
		doloremque voluptas doloribus blanditiis suscipit rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consectetur, sed saepe rem culpa
		quo inventore deserunt, dolore. Provident temporibus consequatur eius maxime assumenda possimus nostrum neque optio quos quisquam?
	</p>

	<a class="uikit-cta-link" href="http://uikit.apps.staging.digital.gov.au/packages/cta-link/tests/site/#">Sign up</a>

	<hr>

	<h2>cta-link as button</h2>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero impedit, iure sequi debitis optio porro unde maiores minus ipsum sit ut aut atque nesciunt
		doloremque voluptas doloribus blanditiis suscipit rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consectetur, sed saepe rem culpa
		quo inventore deserunt, dolore. Provident temporibus consequatur eius maxime assumenda possimus nostrum neque optio quos quisquam?
	</p>

	<button class="uikit-cta-link">Sign up</button>

	<hr>

	<div class="uikit-body">
		<h2>cta-link with body</h2>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero impedit, iure sequi debitis optio porro unde maiores minus ipsum sit ut aut atque nesciunt
			doloremque voluptas doloribus blanditiis suscipit rem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti consectetur, sed saepe rem culpa
			quo inventore deserunt, dolore. Provident temporibus consequatur eius maxime assumenda possimus nostrum neque optio quos quisquam?
		</p>

		<a class="uikit-cta-link" href="http://uikit.apps.staging.digital.gov.au/packages/cta-link/tests/site/#">Sign up</a>
	</div>