<label class="uikit-text-input__label {{labelClassname}}" for="{{fieldName}}">{{textFieldLabel}}</label>
<input class="uikit-text-input {{inputClassname}}" name="{{fieldName}}" id="{{fieldName}}" placeholder="{{placeholder}}" type="text" value="{{textFieldValue}}" {{{extraAttributes}}}>
