{{# textFieldNotValidated}}
	<label class="uikit-text-input__label" for="textin-a">{{textFieldLabel}}</label>
	<input class="uikit-text-input" name="textin-a" id="textin-a" type="text" value="{{textFieldValue}}">
{{/ textFieldNotValidated}}

{{# textFieldValid}}
	<label class="uikit-text-input__label" for="textin-a">{{textFieldLabel}}</label>
	<input class="uikit-text-input uikit-text-input--valid" name="textin-a" id="textin-a" type="text" value="{{textFieldValue}}">
{{/ textFieldValid}}

{{# textFieldInvalid}}
	<label class="uikit-text-input__label" for="textin-a">{{textFieldLabel}}</label>
	<input class="uikit-text-input uikit-text-input--invalid" name="textin-a" id="textin-a" type="text" value="{{textFieldValue}}">
{{/ textFieldInvalid}}

{{# textFieldDisabled}}
	<label class="uikit-text-input__label" for="textin-a">{{textFieldLabel}}</label>
	<input class="uikit-text-input" name="textin-a" id="textin-a" type="text" value="{{textFieldValue}}" disabled="">
{{/ textFieldDisabled}}