<label class="uikit-text-input__label {{labelClassname}}" for="textin-a">{{textFieldLabel}}</label>
<input class="uikit-text-input {{inputClassname}}" name="textin-a" id="textin-a" type="text" value="{{textFieldValue}}">