<label class="uikit-text-input__label" for="textin-b">{{textFieldLabel}}</label>
<input class="uikit-text-input uikit-text-input--block" name="textin-b" id="textin-b" type="text" value="{{textFieldValue}}">