	<h2>radio buttons</h2>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">Yes</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">Maybe</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex">
			<span class="uikit-control-input__text">No</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input">
			<input class="uikit-control-input__input" type="radio" name="radio-ex" checked="" disabled="">
			<span class="uikit-control-input__text">What?</span>
		</label>
	</p>

	<hr>
	<h2>radio buttons <code>--full</code></h2>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">Yes</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">Maybe</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2">
			<span class="uikit-control-input__text">No</span>
		</label>
	</p>

	<p>
		<label class="uikit-control-input uikit-control-input--full">
			<input class="uikit-control-input__input" type="radio" name="radio-ex2" checked="" disabled="">
			<span class="uikit-control-input__text">What?</span>
		</label>
	</p>