<label for="select1">{{dropdownLabel}}</label>

<div class="uikit-select">
	<select id="select1" class="uikit-select__element">
		{{# dropdownOptions}}
			<option value="{{text}}">{{text}}</option>
		{{/ dropdownOptions}}
		</select>
</div>