<label for="select1">{{dropdownLabel}}</label>

<div class="uikit-select">
    <select id="select2" class="uikit-select__element" disabled="">
		{{# dropdownOptions}}
			<option value="{{text}}">{{text}}</option>
		{{/ dropdownOptions}}
		</select>
</div>