<label class="uikit-control-input uikit-control-input--full">
	<input class="uikit-control-input__input" type="checkbox" name="{{rradioButtonName}}"  {{radioButtonChecked}}=""  {{radioButton.disabled}}="">
	<span class="uikit-control-input__text">{{radioButtonText}}</span>
</label>