<label class="uikit-control-input">
	<input class="uikit-control-input__input uikit-control-input--full" type="checkbox" name="{{radioButton.name}}"  {{radioButton.checked}}=""  {{radioButton.disabled}}="">
	<span class="uikit-control-input__text">{{radioButton.text}}</span>
</label>