<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script type="text/javascript" src="../../js/nav.js"></script>
<script type="text/javascript" src="../../js/progress.js"></script>
<script type="text/javascript" src="/js/overlay.js"></script>

<!--Govau UIKit js file. Required for UIKit's JS components to work. -->
<script type="text/javascript" src="../../js/uikit.min.js"></script>

<!--SPF js file. Required for SPF UIKit's JS components to work -->
<script type="text/javascript" src="../../js/spf.js"></script>

<!--actgov JS file. Required for test pages in Pattern Lab to work  -->
<script type="text/javascript" src="../../js/actgov.js"></script>

</body>

</html>